// header-logo
.logo__link {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-link-color;

  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.studio__link {
  color: $studio-color;
}
// footer-logo
.footer-logo__link {
  display: inline-block;
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-link-color;
}
.footer-studio__link {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
}
