// portfolio-button
.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $secondary-bg-color;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-link-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.button.list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
  .button-item + .button-item {
    margin-left: 8px;
  }
}
