// <!--Портфоліо-->
// portfolio-main
.portfolio-main {
  background-color: $primary-bg-color;
}
.section-portfolio {
  background-color: $accent-color;
  padding-top: 94px;
  padding-bottom: 94px;
}
